<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bike project</title>
</head>
<body>
    <h2>This is my homepage of project</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non iusto eum expedita nemo commodi saepe unde, praesentium recusandae reprehenderit ab repudiandae quo modi accusamus, in consectetur at quis officia molestias?</p>
    
    <a href="/project"><button>Go on App project</button></a>

</body>
</html>